@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');


body {
    margin: 0%;
    padding: 20px;
    background-image:url(Skippit.png);
    background-size: cover;
    font-family: "Work Sans", sans-serif;
    min-height: 100vh;
}

.app-container {
    display: flex;
    flex-direction: column; 
    padding: 20px;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    position: relative;
}

header img {
    padding: 20px;
    height: 50px;     
    width: auto;
}

.main-btn{
    display: flex;
    justify-content: center; 
    width: 100%; 
    gap: 25px;
}
.main-btn button{
    font-weight: lighter;
    color: white;
    border: 0;
    background-color: rgba(255, 255, 255, 0);
    padding: 7px;
    font-size: 16px;
    
 }

#start{
    font-family:"Work Sans";
    width: 8%;
    border-radius: 99px;
    color: rgb(237, 233, 233);
    padding: 10px;
    font-size: 16px;
    border: 2px solid rgb(255, 42, 0); 
    box-shadow: 
              0 0 5px rgb(255, 42, 0), /* Medium glow */
              0 0 10px rgb(255, 42, 0); /* Outer glow */

 }

.main-btn button.active{
    font-family:"Work Sans";
    font-weight: lighter; 
    border-radius: 99px;
    color: rgb(237, 233, 233);
    border: 0.5px solid orangered;
    padding: 7px;
    font-size: 16px;
    box-shadow: 
              0 0 5px rgb(255, 42, 0), /* Medium glow */
              0 0 10px rgb(255, 42, 0); /* Outer glow */

}

hr {
  border: none;
  border-top: 3px dotted rgb(56, 55, 55);
  background-color: rgba(141, 142, 142, 0.298);
  width: 50%;
  width: calc(100% + 40px); 
  margin-left: -20px;       
  margin-right: -20px;
}

h2{
    color: white;
    font-weight: bolder;
    font-size: 33px;
    padding: 20px;
}

.card-info h2{
    transform: translateY(-30px);
    color: white;
    font-size: 33px;
}

.card-container{
    display: flex;
    padding: 20px;
    flex-direction: row;
    width: 100%;    
}

.attendance-card{
    display: flex;
    justify-content: space-around;
    background-image: url(card.png);
    width: 25%;
    border-radius: 19px;
    height: 260px;  
    padding: 11px;
}

.stats{
    color: #b4b4b4; 
    transform: translate(22px,-50px);
    font-size: 16px;
}

.prediction{
    padding-top: 3px;
    line-height: 10px;
}

.progress-bar{
    position: relative;
    height: 170px;
    width: 170px;
    transform: translate(-25px,17px);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-bar::before {
    -webkit-mask: radial-gradient(closest-side, transparent 80%, black 84%);
    mask: radial-gradient(closest-side, transparent 80%, black 84%);
    content: "";
    position: absolute;
    background: conic-gradient(#0cb303 calc(var(--percent) * 1%), 
                                #000000 0deg); 
    inset: 0;
    border-radius: 100%;
}   

.progress-value{
    position: relative;
    font-size: 40px;
    font-weight: 600;
    color: #ffffff;
}
.text{
    font-size: 30px;
    font-weight: 500;
    color: #ff2727;
}

.options{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left:-30px ;
}

.options p{
    margin: 0;
    padding: 0;
    line-height: 5;
}

#present-option,
#bunk-option,
#cancelled-option{

    width: 80px;
    font-size: 20px;
    height: 80px;
    text-align: center;
    border-radius: 50% ;
    border: 2px dotted rgb(0, 0, 0);
    box-shadow: 
              0 0 5px rgb(176, 223, 246), /* Medium glow */
              0 0 10px rgb(235, 232, 232); /* Outer glow */
}

#present-option.active{
    background-image: url(p-btn.png);
}

#bunk-option.active{
    background-image: url(b-btn.png);
}

#cancelled-option.active{
    background-color: #969494;
}