body {
    margin: 0px;
    padding: 50px;
    background-image:url(Skippit.png);
    background-size: cover;
    font-family: "Segoe UI", sans-serif;
    min-height: 100vh;
}

.app-container {
    display: flex;
    flex-direction: column; 
    padding: 20px;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    position: relative;
}

header img {
    padding: 20px;
    height: 50px;     
    width: auto;
}

.main-btn{
    display: flex;
    justify-content: center; 
    width: 100%; 
    gap: 25px;
}
.main-btn button{
    font-family:"Work Sans";
    font-weight: bold;
    font-weight: lighter;
    color: white;
    border: 0;
    background-color: rgba(255, 255, 255, 0);
    padding: 7px;
    font-size: 16px;
    
 }

#start{
    font-family:"Work Sans";
    width: 8%;
    border-radius: 99px;
    color: white;
    background-color: rgba(179, 169, 169, 0.519);
    padding: 10px;
    font-size: 16px;
    border: 2px solid rgb(255, 42, 0); 
    box-shadow: 
              0 0 5px rgb(255, 42, 0), /* Medium glow */
              0 0 10px rgb(255, 42, 0); /* Outer glow */

 }

.main-btn button.active{
    font-family:"Work Sans";
    font-weight: lighter; 
    border-radius: 99px;
    color: white;
    background-color: rgb(140, 137, 137);
    border: 0.5px solid orangered;
    padding: 7px;
    font-size: 16px;
    box-shadow: 
              0 0 5px rgb(255, 42, 0), /* Medium glow */
              0 0 10px rgb(255, 42, 0); /* Outer glow */

}

hr {
  margin-top: 15px;
  border: none;
  border-top: 3px dotted rgb(56, 55, 55);
  background-color: rgba(141, 142, 142, 0.298);
  height: 1px;
  width: 50%;
  width: calc(100% + 40px); 
  margin-left: -20px;       
  margin-right: -20px;
}

h2{
    color: white;
    font-size: 33px;
    padding: 20px;
}

.card-info h2{
    transform: translateY(-30px);
    color: white;
    font-size: 33px;
}

.card-container{
    display: flex;
    padding: 20px;
    flex-direction: row;
    max-width: 400px;
    width: 100%;
}

.attendance-card{

    background-image: url(card.png);
    width: 100%;
    border-radius: 19px;
    height: 250px;  
    padding: 20px;
}

.stats{
    color: #b4b4b4;
    font-family: "Work Sans";
    transform: translate(22px,-50px);
    font-size: 16px;
}

.prediction{
    padding-top: 3  px;
    line-height: 10px;
}